@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

.title {
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-size: 3rem;
}

.mark {
  color: #ff5e3a;
  display: inline-block;
}

.mark__dot {
  margin-left: -0.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #ff5e3a;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff5e3a;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-n1 {
  margin: -0.25rem !important;
}

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}

.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}

.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}

.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}

.m-n2 {
  margin: -0.5rem !important;
}

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important;
}

.mr-n2,
.mx-n2 {
  margin-right: -0.5rem !important;
}

.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important;
}

.ml-n2,
.mx-n2 {
  margin-left: -0.5rem !important;
}

.m-n3 {
  margin: -1rem !important;
}

.mt-n3,
.my-n3 {
  margin-top: -1rem !important;
}

.mr-n3,
.mx-n3 {
  margin-right: -1rem !important;
}

.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important;
}

.ml-n3,
.mx-n3 {
  margin-left: -1rem !important;
}

.m-n4 {
  margin: -1.5rem !important;
}

.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important;
}

.mr-n4,
.mx-n4 {
  margin-right: -1.5rem !important;
}

.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important;
}

.ml-n4,
.mx-n4 {
  margin-left: -1.5rem !important;
}

.m-n5 {
  margin: -3rem !important;
}

.mt-n5,
.my-n5 {
  margin-top: -3rem !important;
}

.mr-n5,
.mx-n5 {
  margin-right: -3rem !important;
}

.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important;
}

.ml-n5,
.mx-n5 {
  margin-left: -3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.row {
  margin-right: -1rem;
  margin-left: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.btn {
  background-color: #101010;
  color: #fff !important;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  cursor: pointer;
}

.btn--primary:hover {
  background-color: #ff5e3a;
}

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ff5e3a;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  z-index: 5;
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.cursor::after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ff5e3a;
  content: "";
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.cursor--focused::after {
  width: 15px;
  height: 15px;
  opacity: 0.5;
}

.link {
  color: #ff5e3a !important;
}

.divider {
  border: 1px solid #eee;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.empty-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f5f5f5;
  height: 100%;
  border-radius: 0.5rem;
}

.header {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: 700;
}

.brand .mark__dot {
  margin: 0;
}

.brand a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

.brand a:hover {
  color: #ff5e3a;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  margin: 0 2rem;
}

nav a {
  line-height: 1rem;
  font-weight: 500;
}

nav a:hover {
  color: #ff5e3a;
}

.menu__list li {
  position: relative;
}

.menu__list li:hover .dropdown__list {
  top: 100%;
  opacity: 1;
  pointer-events: unset;
}

.dropdown__list {
  width: 200px;
  padding: 0;
  opacity: 0;
  position: absolute;
  top: 120%;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f5f5f5;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

.dropdown__list li {
  margin-right: 0;
  margin-left: 0;
}

.dropdown__list li a {
  display: block;
  padding: 1rem;
}

.hero {
  text-align: center;
  margin-top: 5vh;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-size: 4rem;
}

.hero__text {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 5rem;
  padding-top: 3rem;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: -1rem;
  margin-right: -1rem;
}

.footer__column {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer__socials {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer__socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__socials li:not(:last-child) {
  margin-right: 1rem;
}

.footer__socials a {
  font-size: 1.2rem;
}

.footer__copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  position: relative;
}

.form__register, .form__login {
  width: 100%;
}

.form__register {
  display: none;
}

.form--active {
  opacity: 1;
  z-index: 2;
}

.form__text {
  margin-bottom: 2rem;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form__row .form__box {
  width: 100%;
}

.form__row .form__box:not(:last-child) {
  margin-right: 2rem;
}

.form__box {
  margin-bottom: 2rem;
}

.form__label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__label span {
  margin-left: 0.5rem;
}

.form__label .required {
  color: #ff5e3a;
}

.form__input, .form__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #eee;
  background: #f5f5f5;
  width: 100%;
  padding: 0.5rem 1rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  outline: none;
  border-radius: 0.3rem;
}

.form__input:focus, .form__input:active, .form__textarea:focus, .form__textarea:active {
  border-color: #ff5e3a;
}

.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__footer .form__box {
  margin-bottom: 0;
}

.form__footer p {
  font-size: 0.9rem;
}

.tabs {
  margin-bottom: 3rem;
}

.tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs .tab {
  padding: 0.5rem 0;
  border-bottom: 2px solid transparent;
}

.tabs .tab:first-child {
  margin-right: 1rem;
}

.tabs .tab--active {
  border-bottom-color: #ff5e3a;
  font-weight: 600;
}

.cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  width: 100%;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.card {
  background: #f5f5f5;
  border-radius: 0.5rem;
  padding: 1rem;
}

.card__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2rem;
}

.card__title {
  font-weight: 600;
}

.card__reviews {
  color: #ff5e3a;
}

.card__reviews ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__reviews li:not(:last-child) {
  margin-right: 0.5rem;
}

.account__sidebar, .account__main {
  padding-left: 1rem;
  padding-right: 1rem;
}

.account__sidebar {
  width: 300px;
  margin-right: 100px;
  background: #f5f5f5;
  padding: 2rem;
  border-radius: 0.5rem;
}

.account__main {
  width: 100%;
  position: relative;
}

.account__box {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.account__box--active {
  z-index: 2;
  opacity: 1;
}

.account__avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.account__user {
  text-align: center;
  color: #ff5e3a;
}

.account__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.account__nav li {
  margin-right: 0;
  margin-left: 0;
}

.account__nav li .account__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75rem 0;
}

.account__nav li .account__link span {
  margin-right: 1rem;
  width: 1rem;
  width: 1rem;
  text-align: center;
}

.account__nav li .account__link:hover, .account__nav li .account__link--active {
  color: #ff5e3a;
}

.contact__left {
  width: 60%;
  margin-right: 5%;
}

.contact__left, .contact__right {
  padding-left: 1rem;
  padding-right: 1rem;
}

.contact__right {
  width: 35%;
}
