@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
}

.title {
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-size: 3rem;
}

.mark {
  color: $primary;
  display: inline-block;

  &__dot {
    margin-left: -0.5rem;
  }
}
