.btn {
  background-color: $dark;
  color: #fff !important;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  display: inline-flex;
  border: none;
  cursor: pointer;

  &--primary {
    &:hover {
      background-color: $primary;
    }
  }
}
