.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $primary;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  @include flex(center, center);
  pointer-events: none;
  z-index: 2;

  &::after {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: $primary;
    content: "";
  }

  &--focused::after {
    width: 15px;
    height: 15px;
    opacity: 0.5;
  }
}

.link {
  color: $primary !important;
}
