.header {
  padding: 2rem 0;
  @include flex(space-between, center);
}

.brand {
  font-size: 1.5rem;
  font-weight: 700;

  .mark__dot {
    margin: 0;
  }

  a {
    display: flex;
    color: #000;

    &:hover {
      color: $primary;
    }
  }
}

nav {
  ul {
    display: flex;
  }

  li {
    margin: 0 2rem;
  }
  a {
    line-height: 1rem;
    font-weight: 500;

    &:hover {
      color: $primary;
    }
  }
}

.menu__list {
  li {
    position: relative;

    &:hover {
      .dropdown__list {
        top: 100%;
        opacity: 1;
        pointer-events: unset;
      }
    }
  }
}

.dropdown__list {
  width: 200px;
  padding: 0;
  opacity: 0;
  position: absolute;
  top: 120%;
  left: 0;
  flex-direction: column;
  background: $lighter;
  transition: 0.2s ease-in-out;
  pointer-events: none;

  li {
    margin-right: 0;
    margin-left: 0;

    a {
      display: block;
      padding: 1rem;
    }
  }
}

.hero {
  text-align: center;
  margin-top: 5vh;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;

  &__title {
    font-size: 4rem;
  }

  &__text {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
