<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__row">
        <div class="footer__column">
          <div class="brand">
            <a href="">Tiftie <span class="mark mark__dot">.</span></a>
          </div>
          <div class="footer__socials">
            <ul>
              <li>
                <a href="https://asd.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://asd.com">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a href="https://asd.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://asd.com">
                  <i class="fab fa-telegram-plane"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="footer__copyright-left">
          © 2021, Tifite. Powered by <a href="https://smylrmz.com">smylmrz</a>
        </div>
        <div class="footer__copyright-right">
          <a href="privacy.html">Privacy Policy</a>
          |
          <a href="terms.html">Terms of Service</a>
        </div>
      </div>
    </div>
  </div>
</footer>
