<header>
  <div class="container">
    <div class="header">
      <div class="header__left">
        <div class="brand">
          <a title="Tiftie" href="index.html">
            Tiftie
            <span class="dot">.</span>
          </a>
        </div>
      </div>
      <div class="header__center">
        <nav>
          <ul>
            <li>
              <a href="index.html">Home </a>
            </li>
            <li>
              <a href="about.html">About </a>
            </li>
            <li>
              <a href="faq.html">FAQ </a>
            </li>
            <li>
              <a href="contact.html">Contact </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__right">
        <a href="login.html" class="btn btn--primary"> Sign in </a>
      </div>
    </div>
  </div>
</header>
